.contactSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    color: white;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 16px;
}

.contactTitle {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 32px 0;
    > h1 {
        font-size: 90px;
        z-index: 2;
    }
}

.contactBar {
    flex: 1;
    height: 4px;
    background-color: #9747ff;
    left: 0;
    margin-right: 24px;
    max-width: 700px;
}

.contactContent {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    left: 100px;
    right: 100px;
    width: 100%;
    > div {
        width: 50%;
        margin-left: 100px;
        max-width: 475px;
    }
}

.arrowUp {
    position: absolute;
    right: 100px;
    bottom: 32px;
    cursor: pointer;
    width: 40px;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 600px;
    gap: 32px;
    > button {
        cursor: pointer;
        font-size: 24px;
        padding: 15px 30px;
        border: none;
        border-radius: 10px;
        background-color: #70e61c;
        color: white;
        transition: ease-out 100ms;
        transform-origin: top;
        &:hover {
            background-color: #9747ff;
            transform: scale(1.1);
        }
    }
}

textarea {
    border: solid 1px #9747ff;
    border-radius: 10px;
    background-color: #141D2F;
    width: 620px;
    padding: 15px 25px;
    height: 200px;
    color: white;
    resize: none; 
}

textarea.error {
    border: solid 1px red;
}

.contactNameContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contactEmailContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contactInput {
    border: solid 1px #9747ff;
    border-radius: 10px;
    background-color: #141D2F;
    width: 620px; 
    padding: 15px 25px;
    color: white;
}

.contactInput.error {
    border: solid 1px red;
}

.contactInput.valid {
    border: 1px solid #70e61c;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 620px; 
}

.inputWrapper img.inputIcon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.errorMessage {
    color: red;
    align-self: flex-start;
    font-size: 14px;
}

.contactMessageContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    > span {
        color: red;
        align-self: flex-start;
    }
}

.contactPrivacyPolicyContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    > button {
        cursor: pointer;
        border: solid 2px #70e61c;
        border-radius: 2px;
        width: 18px;
        margin: 4px;
        background-color: #141D2F;
    }
    > a {
        text-decoration: none;
        font-weight: 400;
        color: #9747FF;
        font-size: 14px;
    }
    > p {
        font-size: 14px;
    }
}

.privacyPolicyImage {
    cursor: pointer;
    margin-right: 8px; 
    vertical-align: middle;
}

.submitButton:disabled {
    background-color: #cccccc; 
    cursor: not-allowed; 
    transform: none;
}

.submitButton:disabled:hover {
    background-color: #cccccc; 
    transform: none; 
}

.submitButton:not(:disabled):hover {
    background-color: #9747ff; 
    transform: scale(1.1); 
}

@media screen and (max-width: 1200px) {
    .contactTitle {
        margin-right: 100px;
    }

    .contactContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        > div {
            margin-left: 0;
        }
    }

    form {
        width: 100%;
        justify-content: center;
        height: auto;
    }
}


@media screen and (max-width: 650px) {
    .contactTitle {
        > h1 {
            font-size: 64px;
        }
    }

    .contactInput, .inputWrapper {
        width: 340px;
    }

    .contactPrivacyPolicyContainer {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 0 32px; 
        box-sizing: border-box; 
    
        > img.privacyPolicyImage {
            cursor: pointer;
            margin-right: 8px; 
            vertical-align: middle;
        }
    
        > p {
            font-size: 14px;
            margin: 0; 
        }
    
        > a {
            text-decoration: none;
            font-weight: 400;
            color: #9747FF;
            font-size: 14px;
        }
    }

    .arrowUp {
        right: 32px;
    }
}

@media screen and (max-width: 550px) {
    form {
        >button {
            font-size: 16px;
            padding: 10px 20px;
        }
    }
}

@media screen and (max-width: 450px) {
    .contactTitle {
        > h1 {
            font-size: 48px;
        }
    }
}