<section id="contact" class="contactSection">

    <div class="contactTitle">
        <div class="contactBar"></div>
        <h1>Contact</h1>
    </div>
    
    <div class="contactContent">
        <div>
            <h2>{{ 'contact.subtitle' | translate }}</h2>
            <p>{{ 'contact.description' | translate }}</p>
            <p>{{ 'contact.cta' | translate }} <span><b>{{ 'contact.ctabold' | translate }}</b></span></p>
        </div>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

            <div class="contactNameContainer">
                <div class="inputWrapper">
                    <input 
                        class="contactInput" 
                        #name="ngModel" 
                        [(ngModel)]="contactData.name" 
                        type="text" 
                        id="name" 
                        name="name" 
                        placeholder="{{ 'contact.form.name.placeholder' | translate }}" 
                        required 
                        minlength="3"
                        [class.error]="!name.valid && name.touched && !name.disabled"
                        [class.valid]="name.valid && name.touched">
                    <img 
                        *ngIf="!name.valid && name.touched" 
                        src="assets/img/symbols/contactInputError.png" 
                        alt="input error icon" 
                        class="inputIcon">
                    <img 
                        *ngIf="name.valid && name.touched" 
                        src="assets/img/symbols/contactInputCheck.png" 
                        alt="input check icon" 
                        class="inputIcon">
                </div>
                <span *ngIf="!name.valid && name.touched && !name.disabled" class="error-message">
                    {{ 'contact.form.error' | translate }}
                </span>
            </div>
            
            <div class="contactEmailContainer">
                <div class="inputWrapper">
                    <input 
                        class="contactInput" 
                        #email="ngModel" 
                        [(ngModel)]="contactData.email" 
                        type="email" 
                        id="email" 
                        name="email" 
                        placeholder="{{ 'contact.form.email.placeholder' | translate }}" 
                        required 
                        email
                        [class.error]="!email.valid && email.touched && !email.disabled"
                        [class.valid]="email.valid && email.touched">
                    <img 
                        *ngIf="!email.valid && email.touched" 
                        src="assets/img/symbols/contactInputError.png" 
                        alt="input error icon" 
                        class="inputIcon">
                    <img 
                        *ngIf="email.valid && email.touched" 
                        src="assets/img/symbols/contactInputCheck.png" 
                        alt="input check icon" 
                        class="inputIcon">
                </div>
                <span *ngIf="!email.valid && email.touched && !email.disabled" class="error-message">
                    {{ 'contact.form.email.error' | translate }}
                </span>
            </div>
            
            
            
            <div class="contactMessageContainer">
                <div class="inputWrapper">
                    <textarea 
                        class="contactInput"
                        #message="ngModel" 
                        [(ngModel)]="contactData.message" 
                        id="message" 
                        name="message" 
                        placeholder="{{ 'contact.form.message.placeholder' | translate }}" 
                        minlength="3" 
                        required 
                        [class.error]="!message.valid && message.touched && !message.disabled"
                        [class.valid]="message.valid && message.touched">
                    </textarea>
                    <img 
                        *ngIf="!message.valid && message.touched" 
                        src="assets/img/symbols/contactInputError.png" 
                        alt="textarea error icon" 
                        class="inputIcon">
                    <img 
                        *ngIf="message.valid && message.touched" 
                        src="assets/img/symbols/contactInputCheck.png" 
                        alt="textarea check icon" 
                        class="inputIcon">
                </div>
                <span *ngIf="!message.valid && message.touched && !message.disabled" class="error-message">
                    {{ 'contact.form.message.error' | translate }}
                </span>
            </div>
            

            <div class="contactPrivacyPolicyContainer">
                <img 
                    *ngIf="!privacyPolicyChecked" 
                    src="assets/img/symbols/check_privacy_policy.png" 
                    alt="empty checkbox" 
                    (click)="togglePrivacyPolicy()" 
                    class="privacyPolicyImage"
                >
                <img 
                    *ngIf="privacyPolicyChecked" 
                    src="assets/img/symbols/check_box.png" 
                    alt="checked checkbox" 
                    (click)="togglePrivacyPolicy()" 
                    class="privacyPolicyImage"
                >
                <p>{{ 'contact.form.privacyPolicy.text' | translate }}</p>
                <a [routerLink]="'/privacy-policy'">{{ 'contact.form.privacyPolicy.link' | translate }}</a>
                <p>{{ 'contact.form.privacyPolicy.confirmation' | translate }}</p>
            </div>
            
            <button 
                type="submit" 
                [disabled]="!contactForm.form.valid || !privacyPolicyChecked" 
                class="submitButton">
                {{ 'contact.form.button' | translate }}
            </button>

            <div *ngIf="emailSent" class="successMessage">
                {{ 'contact.form.successMessage' | translate }}
              </div>
        
        </form>

        <a href="#hero">
            <img class="arrowUp" src="assets/img/symbols/button_contact.png">
        </a>

    </div>

</section>