section {
    display: flex;
    align-items: center;
}

.aboutMePicture {
    position: absolute;
    top: 1100px;
    right: 500px;
    z-index: 3;
    width: 460px;
    height: 460px;
    border: 2px solid;
    border-radius: 50%;
    border-color: #70E61C;
}

.aboutMeContent {
    position: absolute;
    top: 1000px;
    left: 100px;
    color: white;
    z-index: 2;
    width: 480px;
    height: 540px;
    > h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
    }
}

.aboutMeDescription {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
    > div {
        display: flex;
    }
}

.aboutMeDescriptionImages {
    height: 48px;
    width: 48px;
    margin-right: 12px;
}

.aboutMeBar {
    position: absolute;
    top: 160px;
    right: 0;
    width: 500px;
    height: 4px;
    background-color: #70E61C;
    margin-top: 1180px;
    z-index: 2;
}

.aboutMeBackground {
    position: absolute;
    top: 750px;
    right: 0;
    z-index: 1;
}