<section class="heroSection ">
    <img class="heroBackground" src="../../assets/img/background/Hero_Background.png">
  
    <div class="imageContainer">
      <img class="heroShadow" src="../../assets/img/background/hero_shadow_green_purple.png">
      <img class="heroProfilImage" src="../../assets/img/Simon_Matter2.png">
    </div>
    
    <div class="heroContent">
      <div class="heroTitle">
        <p>I am</p>
        <div class="textContainer">
          <h1>Simon Matter</h1>
          <h2>FRONTEND DEVELOPER</h2>
        </div>
      </div>    
      <button>Let's talk</button>
    </div>
  </section>
  