nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Poppins';
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 100px;
    z-index: 999;
    background-color: #141D2F;
    >div {
        font-size: 32px;
    }
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 29px;
    padding-inline-start: 0;
    >li {
        font-size: 24px;
    }
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #70E61C;
}