<section>
    <div>
        <a href="">
            <img class="arrowLeft" src="assets/img/symbols/arrow_left.png">
        </a>
    </div>
    
    <div class="languageContainer">
        <div>
          <img class="languageLogos" src="assets/img/symbols/england.png" alt="English" (click)="switchLanguage('en')">
        </div>
        <div>
          <img class="languageLogos" src="assets/img/symbols/german.png" alt="German" (click)="switchLanguage('de')">
        </div>
      </div>
      
    <div class="legalNoticeContainer">
        <div>
            <h1>{{ 'legalNotice.title' | translate }}</h1>
        </div>
    
        <h2>{{ 'legalNotice.imprint.title' | translate }}</h2>

        <div>
            <h3>{{ 'legalNotice.contactLegalNotice.title' | translate }}</h3>
            <span>E-Mail: {{ 'legalNotice.contact.content' | translate }}<a href="mailto:mail@simonmatter.ch"> mail&#64;simonmatter.ch</a></span>
        </div>

        <div>
            <h3>{{ 'legalNotice.terms.title' | translate }}</h3>
            <p>{{ 'legalNotice.terms.content' | translate }}</p>
        </div>

        <div>
            <h3>{{ 'legalNotice.ownership.title' | translate }}</h3>
            <p>{{ 'legalNotice.ownership.content' | translate }}</p>
        </div>

        <div>
            <h3>{{ 'legalNotice.rights.title' | translate }}</h3>
            <p>{{ 'legalNotice.rights.content' | translate }}</p>
        </div>

        <div>
            <h3>{{ 'legalNotice.usage.title' | translate }}</h3>
            <p>{{ 'legalNotice.usage.content' | translate }}</p>
        </div>

        <div>
            <h3>{{ 'legalNotice.disclaimer.title' | translate }}</h3>
            <p>{{ 'legalNotice.disclaimer.content' | translate }}</p>
        </div>

        <div>
            <h3>{{ 'legalNotice.indemnity.title' | translate }}</h3>
            <p>{{ 'legalNotice.indemnity.content' | translate }}</p>
        </div>

        <div>
            <h3>{{ 'legalNotice.contact.title' | translate }}</h3>
            <p>{{ 'legalNotice.contact.content' | translate }}<a href="mailto:mail@simonmatter.ch"> mail&#64;simonmatter.ch</a></p>
        </div>
    </div>
</section>
