.heroSection {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #1A2743 0%, #27334B 50%, #141D2F 100%);
}

span {
  color: white;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

.heroSectionElipContainer {
  background-color: #141D2F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  clip-path: ellipse(100% 88% at 25% 10%);
  width: 100%;
}

.heroImageContainer {
  position: relative;
  padding-top: 160px;
}

.heroShadow {
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 0; 
}

.heroProfilImage {
  position: relative;
  object-fit: cover;
  object-position: top;
  width: 650px;
  height: 650px;
  margin-left: 50px;
  z-index: 1;
}

.heroContentContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  z-index: 10;
}

.sideText {
  transform: rotate(-90deg);
  font-size: 64px;
  font-weight: 400;
  color: white;
  position: absolute;
  left: -120px;
  top: 34px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.heroTitle {
  color: white;
}

.textContainer h1 {
  font-size: 90px;
  line-height: 1;
  margin-bottom: 10px;
}

.textContainer h2 {
  color: #9747ff !important;
  font-size: 58px;
  font-weight: 400;
  line-height: 1;
}

.heroButton {
  position: relative;
  z-index: 3;
  color: white;
  font-weight: 400;
  font-size: 24px;
  background-color: #70e61c;
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: ease-out 300ms;
}

.heroButton:hover {
  background-color: #9747ff;
  transform: scale(1.2);
}

.heroSocialMediaContainer {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  z-index: 3;
  gap: 32px;
  bottom: 32px;
  > a {
    cursor: pointer;
  }
}

.socialBar {
  width: 100px;
  height: 4px;
  background-color: #9747ff;
}

.heroSocialMediaLinks {
  width: 30px;
  height: 30px;
  transform-origin: left;
  &:hover {
    transform: scale(1.3);
  }
}

.scrollDownContainer {
  color: white;
  position: absolute;
  z-index: 3;
  right: 100px;
  bottom: 32px;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  transform: rotate(90deg);
  transform-origin: right center;
  font-size: 24px;
  gap: 10px;
    > img {
    transform: rotate(-90deg);
  }
}

.scrollDownText {
  animation: moveUpDown 1.5s infinite ease-in-out;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

@media screen and (max-width: 1500px) {
  .heroSection {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background: linear-gradient(to bottom, #141D2F 0%, #141D2F 50%, #141D2F 100%);
  }

  .heroSectionElipContainer {
    flex-direction: column;
    gap: 64px;
    clip-path: none;
  }

  .heroImageContainer {
    clip-path: ellipse(100% 40% at 20% 60%);
  }

  .heroContentContainer {
    position: relative;
    top: 0; 
    right: 0; 
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .heroSocialMediaContainer {
    display: flex;
    align-items: center; 
    justify-content: center;
    position: relative;
    top: 0; 
    right: 0;
    > span {
      display: none
    }
  }

  .scrollDownContainer, .heroEmail {
    display: none;
  }

  .socialBar {
    position: absolute;
    right: 220px;
    width: 100vw;
  }
}

@media screen and (max-width: 950px) {
  .heroShadow {
    width: 650px;
    height: 650px;
  }

  .heroProfilImage {
    width: 550px;
    height: 550px;
  }
}

@media screen and (max-width: 800px) {
  .textContainer h1 {
    font-size: 64px;
  }
  
  .textContainer h2 {
    font-size: 48px;
  }

  .sideText {
    font-size: 48px;
    top: 28px;
    left: -100px; 
  }

  .heroContentContainer {
    margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
  .heroShadow {
    width: 500px;
    height: 500px;
  }

  .heroProfilImage {
    width: 450px;
    height: 450px;
  }
}


@media screen and (max-width: 650px) {
  .heroContentContainer {
    left: 24px;
    right: 24px;
  }

  .textContainer h1 {
    font-size: 48px;
  }
  
  .textContainer h2 {
    font-size: 32px;
  }

  .sideText {
    font-size: 36px;
    top: 20px;
    left: -72px; 
  }

  .heroShadow {
    width: 350px;
    height: 350px;
  }

  .heroProfilImage {
    width: 350px;
    height: 350px;
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .heroButton {
    font-size: 16px;
    padding: 10px 20px;
  }

  .textContainer h1 {
    font-size: 40px;
  }
  
  .textContainer h2 {
    font-size: 28px;
  }

  .sideText {
    font-size: 30px;
    top: 16px;
    left: -64px; 
  }
}