<section class="heroSection" id="hero">
    <div class="backgroundContainer"></div>

    <div class="heroImageContainer">
        <img class="heroShadow" src="../../assets/img/background/hero_shadow_green_purple.png">
        <img class="heroProfilImage" src="../../assets/img/Simon_Matter2.png">
    </div>

    <div class="heroContentContainer">

        <p class="sideText">{{ 'hero.sideText' | translate }}</p>

        <div class="heroContent">
            <div class="heroTitle">
                <div class="textContainer">
                    <h1>Simon Matter</h1>
                    <h2>{{ 'hero.title' | translate }}</h2>
                </div>
            </div>
        </div>

        <div>
            <a href="#contact" (click)="navigateToSection('#contact'); $event.preventDefault();">
                <button class="heroButton">{{ 'hero.cta' | translate }}</button>
            </a>        </div>
    </div>

    
    <div class="heroSocialMediaContainer">
        <div class="socialBar"></div>
        <a class="heroSocialMediaLinks" href="https://github.com/codelicious94">
            <img src="../../assets/img/socialmedia/github.png">
        </a>
        <a class="heroSocialMediaLinks" href="#contact" (click)="navigateToSection('#contact'); $event.preventDefault();">
            <img src="../../assets/img/socialmedia/mail.png">
        </a>
        <a class="heroSocialMediaLinks" href="https://www.linkedin.com/in/simon-matter-63a935209/">
            <img src="../../assets/img/socialmedia/linkedin.png">
        </a>
        <a href="#contact" (click)="navigateToSection('#contact'); $event.preventDefault();">
            <span class="heroEmail">simi.matter&#64;gmail.com</span>
        </a>
    </div>

    <p class="scrollDownContainer">{{ 'hero.scrollDown' | translate }}<img src="../../assets/img/symbols/arrow_down.png"></p>

</section>
