<section id="aboutMe" class="aboutMeSection">
  <div class="aboutMeContent">
    <div class="aboutMeDescription">
      <h1>{{ 'aboutMe.title' | translate }}</h1>
        <p>{{ 'aboutMe.description' | translate }}
        </p>
        <div>
          <img class="aboutMeDescriptionImages" src="../../assets/img/symbols/11.Location.png" />
          <p>{{ 'aboutMe.location' | translate }}
          </p>
        </div>
        <div>
          <img class="aboutMeDescriptionImages" src="../../assets/img/symbols/12. bulb desktop.png" />
          <p>{{ 'aboutMe.mindset' | translate }}
          </p>
        </div>
        <div>
          <img class="aboutMeDescriptionImages" src="../../assets/img/symbols/13. puzzle desktop.png" />
          <p>{{ 'aboutMe.approach' | translate }}
          </p>
      </div>
    </div>
  </div>

  <img class="aboutMePicture" src="../../assets/img/Simon_Matter_Fotoshooting (3).png" />

  
  <div class="aboutMeBar"></div>

  <img class="aboutMeBackground" src="../../assets/img/background/Purple shadow 2.png">
</section>
