section {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: -80px;
}

.aboutMeContent {
    position: relative;
    display: flex;
    align-items: center;
    left: 100px;
    color: white;
    z-index: 2;
    height: 540px;
}

.aboutMeDescription {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 520px;
    > div {
        display: flex;
    }
    > h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
    }
}

.aboutMeDescriptionImages {
    height: 48px;
    width: 48px;
    margin-right: 12px;
}

.aboutMePicture {
    position: relative;
    left: 400px;
    z-index: 3;
    width: 460px;
    height: 460px;
    border: 2px solid;
    border-radius: 50%;
    border-color: #70E61C;
}

.aboutMeBar {
    position: relative;
    right: -324px;
    width: 500px;
    height: 4px;
    background-color: #70E61C;
    z-index: 2;
}

.aboutMeBackground {
    position: absolute;
    top: 750px;
    right: 0;
    z-index: 3;
}

@media screen and (max-width: 1600px) {
    .aboutMePicture {
        left: 200px;
    }

    .aboutMeBar {
        right: -100px;
    }
}


@media screen and (max-width: 1350px) {
    .aboutMePicture, .aboutMeBar {
        display: none;
    }

    .aboutMeBackground {
        top: 1200px;
        right: -100px;
    }
}


@media screen and (max-width: 650px) {
    .aboutMeContent {
        display: flex;
        left: 0;
        right: 24px;
        width: auto;
    }

    .aboutMeDescription {
        margin: 24px;
        width: auto;
        > h1 {
            font-size: 64px;
        }
    }
}