<section>
    <div>
        <a href="">
        <img class="arrowLeft" src="assets/img/symbols/arrow_left.png">
        </a>
    </div>

    <div class="languageContainer">
        <div>
          <img class="languageLogos" src="assets/img/symbols/england.png" alt="English" (click)="switchLanguage('en')">
        </div>
        <div>
          <img class="languageLogos" src="assets/img/symbols/german.png" alt="German" (click)="switchLanguage('de')">
        </div>
      </div>
      
    <div class="privacyPolicyContainer">
        <div>
            <h1>{{ 'privacyPolicy.title' | translate }}</h1>
        </div>
        
        <div>
            <p>{{ 'privacyPolicy.updated' | translate }}</p>
        </div>
        
        <div>
            <p>{{ 'privacyPolicy.introduction.content' | translate }}</p>
        </div>
        
        <div>
            <h2>{{ 'privacyPolicy.interpretation.title' | translate }}</h2>
        </div>
        
        <div>
            <h3>{{ 'privacyPolicy.interpretation.interpretation.title' | translate }}</h3>
            <p>{{ 'privacyPolicy.interpretation.interpretation.content' | translate }}</p>
        </div>

        <div>
            <h3>{{ 'privacyPolicy.interpretation.definitions.title' | translate }}</h3>
            <p>{{ 'privacyPolicy.interpretation.definitions.intro' | translate }}</p>
            <ul>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.account.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.account.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.affiliate.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.affiliate.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.company.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.company.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.cookies.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.cookies.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.country.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.country.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.device.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.device.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.personalData.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.personalData.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.service.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.service.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.serviceProvider.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.serviceProvider.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.usageData.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.usageData.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.website.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.website.description' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.interpretation.definitions.content.you.title' | translate }}</strong> {{ 'privacyPolicy.interpretation.definitions.content.you.description' | translate }}</p>
                </li>
            </ul>
        </div>
        
        <div>
            <h2>{{ 'privacyPolicy.dataCollection.title' | translate }}</h2>
        </div>
        
        <div>
            <h3>{{ 'privacyPolicy.dataCollection.types.title' | translate }}</h3>
            <h4>{{ 'privacyPolicy.dataCollection.types.personalData.title' | translate }}</h4>
            <p>{{ 'privacyPolicy.dataCollection.types.personalData.content' | translate }}</p>
        </div>
        
        <div>
            <h4>{{ 'privacyPolicy.dataCollection.types.usageData.title' | translate }}</h4>
            <p>{{ 'privacyPolicy.dataCollection.types.usageData.content' | translate }}</p>
        </div>
        
        <div>
            <h4>{{ 'privacyPolicy.cookies.title' | translate }}</h4>
            <p>{{ 'privacyPolicy.cookies.content' | translate }}</p>
        </div>
        
        <div>
            <h3>{{ 'privacyPolicy.useOfData.title' | translate }}</h3>
            <p>{{ 'privacyPolicy.useOfData.content' | translate }}</p>
        </div>
        
        <div>
            <h3>{{ 'privacyPolicy.dataRetention.title' | translate }}</h3>
            <p>{{ 'privacyPolicy.dataRetention.content' | translate }}</p>
        </div>
        
        <div>
            <h3>{{ 'privacyPolicy.dataDisclosure.title' | translate }}</h3>
            <h4>{{ 'privacyPolicy.dataDisclosure.businessTransactions.title' | translate }}</h4>
            <p>{{ 'privacyPolicy.dataDisclosure.businessTransactions.content' | translate }}</p>
            <h4>{{ 'privacyPolicy.dataDisclosure.lawEnforcement.title' | translate }}</h4>
            <p>{{ 'privacyPolicy.dataDisclosure.lawEnforcement.content' | translate }}</p>
            <h4>{{ 'privacyPolicy.dataDisclosure.otherLegalRequirements.title' | translate }}</h4>
            <p>{{ 'privacyPolicy.dataDisclosure.otherLegalRequirements.content' | translate }}</p>
        </div>
        
        <div>
            <h3>{{ 'privacyPolicy.security.title' | translate }}</h3>
            <p>{{ 'privacyPolicy.security.content' | translate }}</p>
        </div>
        
        <div>
            <h2>{{ 'privacyPolicy.children.title' | translate }}</h2>
            <p>{{ 'privacyPolicy.children.content' | translate }}</p>
        </div>
        
        <div>
            <h2>{{ 'privacyPolicy.links.title' | translate }}</h2>
            <p>{{ 'privacyPolicy.links.content' | translate }}</p>
        </div>
        
        <div>
            <h2>{{ 'privacyPolicy.changes.title' | translate }}</h2>
            <p>{{ 'privacyPolicy.changes.content' | translate }}</p>
        </div>
        
        <div>
            <h2>{{ 'privacyPolicy.contact.title' | translate }}</h2>
            <p>{{ 'privacyPolicy.contact.content' | translate }}</p>
            <ul>
                <li>{{ 'privacyPolicy.contact.email' | translate }}<a href="mailto:mail@simonmatter.ch"> mail&#64;simonmatter.ch</a></li>
            </ul>
        </div>
    </div>        
</section>