<section>
    <div class="framesContainer">
        <img src="¨../../../../assets/img/frames/HTML_Frame.png">
        <img src="¨../../../../assets/img/frames/CSS_Frame.png">
        <img src="¨../../../../assets/img/frames/Javascript_Frame.png">
        <img src="¨../../../../assets/img/frames/TypeScript_Frame.png">
        <img src="¨../../../../assets/img/frames/Angular_Frame.png">
        <img src="¨../../../../assets/img/frames/Firebase_Frame.png">
        <img src="¨../../../../assets/img/frames/GIT_Frame.png">
        <img src="¨../../../../assets/img/frames/Rest-Api_Frame.png">
        <img src="¨../../../../assets/img/frames/Scrum_Frame.png">
        <img src="¨../../../../assets/img/frames/Material_Design_Frame.png">
        <img src="¨../../../../assets/img/frames/Continually_Learning_Frame.png">
    </div>

    <div class="mySkillsContainer">
        <h1>My skills</h1>
        <p>I have gained experience in building projects with different frontend technologies and concepts.</p>
        <h2>Looking for another skill?</h2>
        <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
        <button class="mySkillsButton">Get in touch</button>
    </div>
</section>
