section {
    scroll-margin-top: 120px;
}

.framesContainer {
    position: absolute;
    top: 1780px;
    left: 100px;
    width: 664px;
    height: 404px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 88px;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
    z-index: 150;
    > img {
        height: 60px;
        cursor: pointer;

        &:hover {
            animation: moveUpAndDown 1.5s forwards;
        }
    }
}

.frameContinuallyLearning {
    height: 119px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    &:hover {
        filter: brightness(0) invert(1);
        transform: scale(1.01) translate(-2px, 2px);
    }
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0) scale(1);
    }
    30% {
        transform: translateY(-10px) scale(1.1); 
    }
    100% {
        transform: translateY(0) scale(1); 
    }
}

.mySkillsContainer {
    position: absolute;
    top: 1780px;    
    height: 404px;
    color: white;
    right: 100px;
}

.mySkillsTitle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > h1 {
        font-size: 90px;
    }
}

.mySkillsBar {
    position: absolute;
    right: -100px !important;
    width: 80px;
    height: 4px;
    background-color: #9747ff;
    z-index: 2;
}

.mySkillsContent {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 24px;
    > h2 {
        font-size: 32px;
        span {
            color: #9747ff;
        }
    }
}

.mySkillsButton {
    position: absolute;
    top: 320px;
    right: 140px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    background-color: #70e61c;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: ease-out 100ms;
    transform-origin: top right;
    &:hover {
        background-color: #9747ff;
        transform: scale(1.1);
    }
}

.mySkillsBackground {
    position: absolute;
    top: 1980px;
    left: -40px;
    z-index: 1;
}