<section>
    <div class="framesContainer">
        <div class="frame">
            <img src="../../../../assets/img/frames/HTML.png" alt="HTML">
            <p>HTML</p>
        </div>
        <div class="frame">
            <img src="../../../../assets/img/frames/CSS.png" alt="CSS">
            <p>CSS</p>
        </div>
        <div class="frame">
            <img src="../../../../assets/img/frames/Javascript.png" alt="Javascript">
            <p>Javascript</p>
        </div>
        <div class="frame">
            <img src="../../../../assets/img/frames/Typescript.png" alt="Typescript">
            <p>Typescript</p>
        </div>
        <div class="frame">
            <img src="../../../../assets/img/frames/Angular.png" alt="Angular">
            <p>Angular</p>
        </div>
        <div class="frame">
            <img src="../../../../assets/img/frames/Firebase.png" alt="Firebase">
            <p>Firebase</p>
        </div>
        <div class="frame">
            <img src="../../../../assets/img/frames/Git.png" alt="Git">
            <p>Git</p>
        </div>
        <div class="frame">
            <img src="../../../../assets/img/frames/API.png" alt="API">
            <p>API</p>
        </div>
        <div class="frame">
            <img src="../../../../assets/img/frames/SCRUM.png" alt="SCRUM">
            <p>SCRUM</p>
        </div>
        <div class="frame">
            <img src="../../../../assets/img/frames/Material_Design.png" alt="Material Design">
            <p>Material Design</p>
        </div>
        <div class="frame">
            <img src="../../../../assets/img/frames/Continually_Learning_Frame.png" alt="Continually Learning">
            <p>Continually Learning</p>
        </div>
    </div>
    
    

    <div class="mySkillsContainer">
        <h1>My skills</h1>
        <p>I have gained experience in building projects with different frontend technologies and concepts.</p>
        <h2>Looking for another skill?</h2>
        <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
        <button class="mySkillsButton">Get in touch</button>
    </div>
</section>
