.mySkillsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}

.framesContainer {
    width: 664px;
    height: 404px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    gap: 88px;
}

.frame {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
    z-index: 150;
    > img {
        position: relative;
        width: 54px;
        height: 60px;
        top: 0;
        cursor: pointer;
        &:hover {
            animation: moveUpAndDown 1.5s forwards;
        }
    }
}

.frameContinuallyLearning {
    position: relative;
    height: 119px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.frameContinuallyLearning .hoverFrame {
    display: none;
    position: absolute;
    top: -90%; 
    left: 95%; 
    transform: translateX(-50%); 
    height: auto; 
    transition: opacity 0.3s ease;
    cursor: default;
}

.frameContinuallyLearning:hover .hoverFrame {
    display: block;
    opacity: 1;
}

.frameContinuallyLearning .mainFrame {
    display: block;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.frameContinuallyLearning:hover .mainFrame {
    filter: brightness(0) invert(1);
    transform: scale(1.01) translate(-2px, 2px);
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0) scale(1);
    }
    30% {
        transform: translateY(-10px) scale(1.1); 
    }
    100% {
        transform: translateY(0) scale(1); 
    }
}

.mySkillsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
}

.mySkillsTitle {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > h1 {
        font-size: 90px;
        padding-right: 24px;
        margin: 0;
        text-align: center;
    }
}

.mySkillsBar {
    position: relative;
    width: 100px;
    height: 4px;
    background-color: #9747ff;
    z-index: 2;
}

.mySkillsTitleContent {
    margin: 24px 0;
    margin-right: 100px;
    text-align: end;
}

.mySkillsContent {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 24px;
    margin-right: 100px;
    > h2 {
        font-size: 32px;
    }
}

.mySkillsContentViolet {
    color: #9747ff !important;
}

.mySkillsButton {
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 24px;
    background-color: #70e61c;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: ease-out 100ms;
    transform-origin: top right;
    &:hover {
        background-color: #9747ff;
        transform: scale(1.1);
    }
}

.mySkillsBackground {
    position: absolute;
    top: 1980px;
    left: -40px;
    z-index: -1;
}

.mySkillsTitleResponsive, .mySkillsTitleContentResponsive {
    display: none;
}

@media screen and (max-width: 1350px) {
    .mySkillsBackground {
        top: 2400px;
    }
}

@media screen and (max-width: 1200px) {
    .mySkillsBackground {
        top: 2500px;
    }
}

@media screen and (max-width: 1100px) {
    .mySkillsSection {
        justify-content: center;
        padding-left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .framesContainer {
        height: auto;
        width: auto;
        margin: 64px;
        justify-content: center;
    }

    .mySkillsContainer {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom: 40px; 
        width: 100%;
    }

    .mySkillsContent {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .mySkillsTitle, .mySkillsTitleContent {
        display: none;
    }

    .mySkillsContainerResponsive {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: white;
        width: 100%;
    }

    .mySkillsTitleResponsive {
        position: relative;
        width: 100%;
        margin-top: 64px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        > h1 {
            font-size: 90px;
            padding-right: 24px;
            margin: 0;
            text-align: center;
        }
    }

    .mySkillsTitleContentResponsive {
        display: flex;
        justify-content: flex-end;
        margin-right: 100px;
    }
}    

@media screen and (max-width: 850px) {
    .mySkillsTitleContentResponsive, .mySkillsContent {
        margin: 0 48px;
    }

    .framesContainer {
        margin: 48px;
        gap: 48px;
    }

    .frame {
        > img {
            width: 48px;
            height: 48px;
        }
    }
}

@media screen and (max-width: 660px) {
    .mySkillsBackground {
        top: 2300px;
    }

    .mySkillsTitleResponsive {
        > h1{
            font-size: 64px;
        }
    }
}

@media screen and (max-width: 450px) {
    .mySkillsButton {
        font-size: 16px;
        padding: 10px 20px;
    }

    .mySkillsTitleResponsive {
        > h1{
            font-size: 48px;
        }
    }
}