<section id="mySkills">
  <div class="mySkills">
    <div class="framesContainer">
      <div class="frame">
        <img src="../../../../assets/img/frames/HTML.png" alt="HTML" />
        <p>HTML</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/CSS.png" alt="CSS" />
        <p>CSS</p>
      </div>
      <div class="frame">
        <img
          src="../../../../assets/img/frames/Javascript.png"
          alt="Javascript"
        />
        <p>Javascript</p>
      </div>
      <div class="frame">
        <img
          src="../../../../assets/img/frames/Typescript.png"
          alt="Typescript"
        />
        <p>Typescript</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/Angular.png" alt="Angular" />
        <p>Angular</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/Firebase.png" alt="Firebase" />
        <p>Firebase</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/Git.png" alt="Git" />
        <p>Git</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/API.png" alt="API" />
        <p>API</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/SCRUM.png" alt="SCRUM" />
        <p>SCRUM</p>
      </div>
      <div class="frame">
        <img
          src="../../../../assets/img/frames/Material_Design.png"
          alt="Material Design"
        />
        <p>Material Design</p>
      </div>
      <div class="frameContinuallyLearning">
        <img
          class="mainFrame"
          src="../../../../assets/img/frames/Continually_Learning_Frame.png"
          alt="Continually Learning"
        />
        <img
          class="hoverFrame"
          src="../../../assets/img/frames/React_Vue_Js.png"
          alt="React Vue JS"
        />
      </div>
    </div>

    <div class="mySkillsContainer">
      <div class="mySkillsTitle">
        <h1>My skills</h1>
        <div class="mySkillsBar"></div>
      </div>

      <div class="mySkillsContent">
        <p>
          I have gained experience in building projects with different frontend
          technologies and concepts.
        </p>
        <h2>Looking for <span>another skill</span>?</h2>
        <p>
          Feel free to contact me. I look forward to expanding on my previous
          knowledge.
        </p>
        <a href="#contact"
          ><button class="mySkillsButton">Get in touch</button></a
        >
      </div>
    </div>
  </div>
  <img
    class="mySkillsBackground"
    src="../../assets/img/background/Green shadow 2.png"
  />
</section>
