<section id="mySkills" class="mySkillsSection">
    <div class="framesContainer">
      <div class="frame">
        <img src="../../../../assets/img/frames/HTML.png" alt="HTML" />
        <p>HTML</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/CSS.png" alt="CSS" />
        <p>CSS</p>
      </div>
      <div class="frame">
        <img
          src="../../../../assets/img/frames/Javascript.png"
          alt="Javascript"
        />
        <p>Javascript</p>
      </div>
      <div class="frame">
        <img
          src="../../../../assets/img/frames/Typescript.png"
          alt="Typescript"
        />
        <p>Typescript</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/Angular.png" alt="Angular" />
        <p>Angular</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/Firebase.png" alt="Firebase" />
        <p>Firebase</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/Git.png" alt="Git" />
        <p>Git</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/API.png" alt="API" />
        <p>API</p>
      </div>
      <div class="frame">
        <img src="../../../../assets/img/frames/SCRUM.png" alt="SCRUM" />
        <p>SCRUM</p>
      </div>
      <div class="frame">
        <img src="../../../assets/img/frames/material_design.png">
        <p>Material Design</p>
      </div>
      <div class="frameContinuallyLearning">
        <img
          class="mainFrame"
          src="../../../../assets/img/frames/Continually_Learning_Frame.png"
          alt="Continually Learning"
        />
        <img
          class="hoverFrame"
          src="../../../assets/img/frames/React_Vue_Js.png"
          alt="React Vue JS"
        />
      </div>
    </div>

    <div class="mySkillsContainer">
      <div class="mySkillsTitle">
        <h1>{{ 'mySkills.title' | translate }}</h1>
        <div class="mySkillsBar"></div>
      </div>

      <div class="mySkillsTitleContent">        
        <p>{{ 'mySkills.description' | translate }}</p>
      </div>

      <div class="mySkillsContent">
        <h2>{{ 'mySkills.cta.title' | translate }} <span class="mySkillsContentViolet">{{ 'mySkills.cta.titletext' | translate }}</span></h2>
        <p>{{ 'mySkills.cta.text' | translate }}</p>
        <a href="#contact" (click)="navigateToSection('#contact'); $event.preventDefault();"
          ><button class="mySkillsButton">{{ 'mySkills.cta.button' | translate }}</button></a
        >
      </div>
    </div>
  <img
    class="mySkillsBackground"
    src="assets/img/background/Green shadow 2.png"
  />
</section>
