.mySkills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    height: 100vh;
}

.framesContainer {
    position: relative;
    width: 664px;
    height: 404px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 88px;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
    z-index: 150;
    > img {
        height: 60px;
        cursor: pointer;

        &:hover {
            animation: moveUpAndDown 1.5s forwards;
        }
    }
}

.frameContinuallyLearning {
    position: relative;
    height: 119px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.frameContinuallyLearning .hoverFrame {
    display: none;
    position: absolute;
    top: -90%; 
    left: 95%; 
    transform: translateX(-50%); 
    height: auto; 
    transition: opacity 0.3s ease;
    cursor: default;
}

.frameContinuallyLearning:hover .hoverFrame {
    display: block;
    opacity: 1;
}

.frameContinuallyLearning .mainFrame {
    display: block;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.frameContinuallyLearning:hover .mainFrame {
    filter: brightness(0) invert(1);
    transform: scale(1.01) translate(-2px, 2px);
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0) scale(1);
    }
    30% {
        transform: translateY(-10px) scale(1.1); 
    }
    100% {
        transform: translateY(0) scale(1); 
    }
}

.mySkillsContainer {
    position: relative;
    height: 404px;
    color: white;
    right: 100px;
}

.mySkillsTitle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > h1 {
        font-size: 90px;
    }
}

.mySkillsBar {
    position: absolute;
    right: -100px !important;
    width: 80px;
    height: 4px;
    background-color: #9747ff;
    z-index: 2;
}

.mySkillsTitleContent {
    margin: 24px 0;
    text-align: end;
}

.mySkillsContent {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 24px;
    > h2 {
        font-size: 32px;
        span {
            color: #9747ff;
        }
    }
}

.mySkillsButton {
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 24px;
    background-color: #70e61c;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: ease-out 100ms;
    transform-origin: top right;
    &:hover {
        background-color: #9747ff;
        transform: scale(1.1);
    }
}

.mySkillsBackground {
    position: absolute;
    top: 1980px;
    left: -40px;
    z-index: -1;
}

@media screen and (max-width: 1500px) {
    .mySkillsContent, .mySkillsTitleContent {
        width: 480px;
        text-align: end;
    }
}

@media screen and (max-width: 1350px) {
    .mySkillsBackground {
        top: 2400px;
    }
}

@media screen and (max-width: 1200px) {
    .mySkills {
        height: 1300px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .mySkillsContent {
        padding-top: 620px;
        align-items: center;
        text-align: center;
    }

    .framesContainer {
        top: -600px;
    }

    .mySkillsBackground {
        top: 2500px;
    }

    .mySkillsBar {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .framesContainer {
        width: auto;
    }
}

@media screen and (max-width: 660px) {
    .framesContainer {
        top: 0;
        margin-left: 32px;
        margin-right: 12px;
        gap: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .frame {
        > img {
            height: 44px;
        }
        > p {
            font-size: 14px;
        }
    }

    .mainFrame, .hoverFrame {
        height: 100px;
    }

    .mySkillsContainer {
        height: 300px;
    }

    .mySkills {
        margin-left: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .mySkillsContent {
        padding-top: 600px;
        margin-left: 100px;
        width: 100%;
    }

    .mySkillsBackground {
        top: 2300px;
    }

    .mySkillsContainer, .mySkillsTitleContent {
        width: 100%;
        margin-left: 64px;
    }

    .mySkillsTitleContent, .mySkillsContent {
        > p {
            margin: 0 64px;
        }

        > h2 {
            font-size: 24px;
            margin-right: 12px;
        }
    }

    .mySkillsTitle {
        > h1{
            font-size: 64px;
        }
    }
}

@media screen and (max-width: 450px) {
    .mySkillsButton {
        font-size: 16px;
        padding: 10px 20px;
    }

    .mySkillsTitle {
        > h1{
            font-size: 48px;
        }
    }
}