<nav>
  <div>
    <a href="#hero">
      <img class="portfolioLogo" src="../../assets/img/logo/Logo_Header_Matter_Simon.png" alt="Logo">
    </a>
  </div>
  <ul [ngClass]="{'menu-open': isMenuOpen}">
    <li
      [class.active]="activeLink === 'aboutMe'"
      (click)="setActive('aboutMe')"
    >
      <a href="javascript:void(0)" (click)="scrollToPosition(800)">About me</a>
      <p class="navMenuBar"></p>
    </li>
    <li
      [class.active]="activeLink === 'mySkills'"
      (click)="setActive('mySkills')"
    >
      <a href="javascript:void(0)" (click)="scrollToPosition(1700)">Skills</a>
      <p class="navMenuBar"></p>
    </li>
    <li
      [class.active]="activeLink === 'portfolio'"
      (click)="setActive('portfolio')"
    >
      <a href="javascript:void(0)" (click)="scrollToPosition(2500)">Portfolio</a>
      <p class="navMenuBar"></p>
    </li>
  </ul>

  <img
    class="burgerMenu"
    src="../../../assets/img/symbols/burger_menu.png"
    alt="Menu"
    (click)="toggleMenu()"
  />

  <button
    class="closeMenu"
    *ngIf="isMenuOpen"
    (click)="closeMenu()"
  >
    &times;
  </button>
</nav>
