nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Poppins";
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background-color: #141d2f;
  > div {
    font-size: 32px;
  }
}

.menuContainer {
  display: flex;
  align-items: center;
}

.languageContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 0 100px;
}

.languageLogos {
  height: 32px;
}

.languageLogos:hover {
  cursor: pointer;
  scale: 1.1;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 29px;
  > li {
    font-size: 24px;
  }
}

.portfolioLogo {
  margin: 37px 100px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #70e61c;
}

.navMenuBar {
  background-color: #9747ff;
  height: 3px;
  width: 58px;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 5px;
}

li.active a {
  color: #70e61c;
}

li:hover a,
li > a:hover {
  color: #70e61c;
}

li a {
  color: white;
  transition: color 0.3s ease;
}

li.active .navMenuBar {
  opacity: 1;
}

li:hover .navMenuBar,
li > a:hover + .navMenuBar {
  opacity: 1;
}

.burgerMenu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.closeMenu {
  display: none;
}

@media screen and (max-width: 1000px) {
  .burgerMenu {
    display: block;
    margin-right: 100px;
  }

  .menuContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #141d2f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 32px;
  }

  .menuContainer.menu-open {
    display: flex;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .languageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  .closeMenu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 36px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
}

@media screen and (max-width: 600px) {
  .portfolioLogo {
    height: 48px;
    margin: 37px 50px;
  }

  .burgerMenu {
    margin-right: 50px;
  }
}