<footer>
    <div class="footerContent">
        <div>
            <a href="#">
                <img src="assets/img/logo/Logo_Header_Matter_Simon.png" alt="Logo">
            </a>
            <a [routerLink]="'/legal-notice'">
                <p>Legal Notice</p>
                <p class="footerBar"></p>
            </a>
        </div>

        <div>
            <p>© Simon Matter 2024</p>
        </div>

        <div class="footerSocialMediaContainer">
            <a class="footerSocialMediaLinks" href="https://github.com/codelicious94" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/socialmedia/github.png">
            </a>
            <a class="footerSocialMediaLinks" href="javascript:void(0)" (click)="scrollToPosition(5000)">
                <img src="assets/img/socialmedia/mail.png">
            </a>
            <a class="footerSocialMediaLinks" href="https://www.linkedin.com/in/simon-matter-63a935209/" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/socialmedia/linkedin.png">
            </a>
        </div>
    </div>
</footer>
