.portfolioSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    > p {
        color: white;
    }
}

.portfolioTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    > h1 {
        font-size: 90px;
        color: white;
        padding: 32px;
    }
}

.portfolioBarLeft {
    width: 120px;
    height: 4px;
    background-color: #9747ff;
    z-index: 2;
}

.portfolioBarRight {
    flex: 1;
    height: 4px;
    background-color: #9747ff;
    z-index: 2;
}

.portfolioProjectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    z-index: 5;
}

.portfolioProjectsContainer.reverse {
    flex-direction: row-reverse;
}

.portfolioProjectsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    width: 520px;
    gap: 15px;
}

.portfolioProjectsContent > h2 {
    color: #9747ff;
    font-size: 32px;
}

.portfolioProjectsContent > p {
    color: #70E61C;
    font-size: 24px;
}

.portfolioProjectsButtons {
    display: flex;
    gap: 80px;
    margin-top: 20px;
}

.portfolioProjectsButtonViolett {
    cursor: pointer;
    background-color: #9747ff;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 24px;
    &:hover {
        background-color: #70E61C;
    }
}

.portfolioProjectsButtonGreen {
    cursor: pointer;
    border: solid 1px #70E61C;
    background-color: #141D2F;
    border-radius: 10px;
    padding: 15px 30px;
    color: white;
    font-size: 24px;
    &:hover {
        background-color: #70E61C;
    }
}

.portfolioBackground {
    position: absolute;
    top: 1200px;
    left: -180px;
    z-index: 0;
    filter: blur(86px);
}

.leptopProjects {
    cursor: pointer;
    &:hover {
        filter: grayscale(100%);
    }
}


@media screen and (max-width: 1200px) {
    .portfolioProjectsContainer {
        flex-direction: column;
        gap: 0;
        text-align: center;
    }

    .portfolioProjectsContainer.reverse {
        flex-direction: column;
    }

    .portfolioProjectsContent {
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {
    .portfolioTitle {
        margin-left: 120px;
    }
}

@media screen and (max-width: 800px) {
    .portfolioTitle {
        margin-left: 80px;
    }

    .portfolioBarLeft {
        width: 60px;
    }

    p {
        margin: 0 32px;
        text-align: center;
    }

    .portfolioBackground {
        height: 600px;
        left: 100px;
        top: 1100px;
        rotate: 172deg;
    }
}

@media screen and (max-width: 650px) {
    .portfolioTitle {
        margin-left: 64px;
        > h1 {
            font-size: 64px;
            margin: 0;
        }
    }

    .leptopProjects {
        height: 320px;
    }
}

@media screen and (max-width: 550px) {
    .portfolioProjectsContent {
        width: 100%;
        >span {
            margin: 0 32px;
        }
    }

    .portfolioProjectsButtonViolett, .portfolioProjectsButtonGreen {
        font-size: 16px;
        padding: 10px 20px;
    }   
}

@media screen and (max-width: 450px) {
    .portfolioTitle {
        > h1 {
            font-size: 48px;
            padding: 36px 12px;
        }
    }

    .portfolioBarLeft {
        width: 40px;
    }
}