<section class="portfolio" id="portfolio">
    <div class="portfolioTitle">
        <div class="portfolioBarLeft"></div>
        <h1>Portfolio</h1>
        <div class="portfolioBarRight"></div>
    </div>
    <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>


    <div class="portfolioProjectsContainer">
        <img src="../../assets/img/projects/Join.png">
        <div class="portfolioProjectsContent">
            <h2>Join</h2>
            <p>Angular | Typescript | HTML | CSS | Firebase</p>
            <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
            <div class="portfolioProjectsButtons">
                <a href="https://join-268.developerakademie.net/index.html"><button class="portfolioProjectsButtonViolett">Live test</button></a>
                <a href="https://github.com/codelicious94/Join"><button class="portfolioProjectsButtonGreen">Github</button></a>
            </div>
        </div>
    </div>

    <div class="portfolioProjectsContainer">
        <div class="portfolioProjectsContent">
            <h2>El Pollo Loco</h2>
            <p>Javascript | HTML | CSS</p>
            <span>A simple Jump-and-Run game based on an object-oriented approach. Help pepe to find coins and salsa bottles to fight against the hungry chickens.</span>
            <div class="portfolioProjectsButtons">
                <a href="https://simon-matter.developerakademie.net/projekt_EL_POLLO_LOCCO/index.html"><button class="portfolioProjectsButtonViolett">Live test</button></a> 
                <a href="https://github.com/codelicious94/El-Pollo-Loco"><button class="portfolioProjectsButtonGreen">Github</button></a> 
            </div>
        </div>
        <img src="../../assets/img/projects/El_Pollo_Loco.png">
    </div>


    <div class="portfolioProjectsContainer">
        <img src="../../assets/img/projects/Pokedex.png">
        <div class="portfolioProjectsContent">
            <h2>Pokedex</h2>
            <p>Javascript | HTML | CSS | API</p>
            <span>Based on the PokéAPI a simple library that provides and catalogues pokemon information.</span>
            <div class="portfolioProjectsButtons">
                <a href="https://simon-matter.developerakademie.net/projekt_Pokedex/index.html"><button class="portfolioProjectsButtonViolett">Live test</button></a>
                <a href="https://github.com/codelicious94/Pokedex"><button class="portfolioProjectsButtonGreen">Github</button></a>
            </div>
        </div>
    </div>

    <div class="portfolioProjectsContainer">
        <div class="portfolioProjectsContent">
            <h2>Simon's World Tour</h2>
            <p>Javascript | HTML | CSS</p>
            <span>A simple photo gallery from my own world tour from 2023 to 2024.</span>
            <div class="portfolioProjectsButtons">
                <a href="https://simon-matter.developerakademie.net/projekt_Fotogallerie/index.html"><button class="portfolioProjectsButtonViolett">Live test</button></a>
                <a href="https://github.com/codelicious94/Fotogallerie"><button class="portfolioProjectsButtonGreen">Github</button></a>
            </div>
        </div>
        <img src="../../assets/img/projects/Simons_world_tour.png">
    </div>

    <img class="portfolioBackground" src="../../assets/img/background/32 Purple shadow portfolio.png">

</section>
